@import url(//fonts.googleapis.com/css?family=Open+Sans);
*{
	margin:0;
	overflow: hidden;
}


.input, .button{
	font-family: 'Open Sans', sans-serif;
	padding: 69px;
}


#particles-js{
	background-color: #000000;
}

#nol{
	font-family: 'Open Sans', sans-serif;
	font-size:7vw;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
}